<h1>Owl slider of transit maps</h1>


<script>
<div class="owl-carousel owl-theme">
  <div class="item">
     <img src="infill.png" alt="CTA L"> 
      <h1>CTA L</h1>
    </div>
    
  <div class="item">
      <h1>CTA Bus</h1>
  </div>
  
  <div class="item">
      <h1>Water Taxi</h1>
  </div>
  
</div>



$(document).ready(function(){
 $('.owl-carousel').owlCarousel({
    autoPlay: 3000,
    item: 3,
    navigation: true,
 });
});
</script>






