<h1>Transit Maps</h1>


<link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">

<div class="owl-carousel owl-theme">
  <div><%= link_to image_tag("Education.jpg", alt: "Education Map", class: "img-responsive")%></div>
  <div><%= link_to image_tag("Demographics.jpg", alt: "Demographics Map", class: "img-responsive")%></div>
  <div><img src="http://lorempixel.com/g/800/600/nightlife"></div>
  <div><img src="http://lorempixel.com/g/800/600/fashion"></div>
  <div><img src="http://lorempixel.com/g/800/600/nightlife"></div>
  <div><%= link_to image_tag("Cultural.jpg", alt: "Cultural Map", class: "img-responsive")%></div>
</div>
 

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>

<script type="text/javascript">
$('.owl-carousel').owlCarousel({
   singleItem: true,
   loop:true,
   autoplay: true,
   margin:10,
   nav:true,
   responsive:{
     0:{
       items:1
     },
     600:{
       items:3
     },
     1000:{
       items:5
     }
   }
 });
</script>




