<div id="map-container">
    <%=image_tag("https://s3.us-east-2.amazonaws.com/tribune37/ChicagoZoning.gif", class: "img-responsive") %>
    <h5 class="image-caption">As Chicago's cententral core expands, new zoning is reshaping urban renewal on revitalized waterfront</h5>
</div>